body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: #d71920;
    color: white;
    padding: 20px;
}

button {
    background-color: #d71920;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a3161a;
}

.trophy {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #222;
    color: white;
}
